 *{
    background-color: whitesmoke;
    /* background-image: url(/download\ \(9\).jfif); */
    /* background-position: center; */
    /* background-size: cover; */
} 
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  #img-caption{
      font-size: 30px;
  }

  #title{
      text-align: center;
      font-size: 50px;
      font-family:monospace;
      background-color:whitesmoke;
      font-weight: 900;
  }

.link{
       margin: auto;
       width: 50%;
       padding: 10px;
  }

#tribute-link{
  color: rgb(117, 8, 8);
  font-size: 20px;
  font-weight: 200;
  
}
#title{
  display: inline-block;
  margin: 0px auto;
  font-style: oblique;
  transition: 2s;
}
#title:hover{
  background-color: tomato;
  cursor: pointer;
}
/* h1{
  text-align: center;
} */

#main{
  text-align: center;
}
.column:hover{
background-color: white;
}
.p{
  font-size:large;

}